<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="Options">
  <setting default="" id="basesource" type="text" visible="false">
  </setting>
  <setting default="" id="URL_Base Source" label="URL Base Source: " type="text" visible="true">
  </setting>
  <setting default="true" id="Play_Media_Initial" label="Play Media Inicial" type="bool" visible="true">
  </setting>
  <setting default="true" id="Play_Media" label="Play Media" type="bool" visible="true">
  </setting>
 </category>
 <category label="Automatic_Update">
  <setting default="false" id="Kelebek" label="Kelebek" type="bool" visible="true">
  </setting>
  <setting default="false" id="OVNI" label="OVNI" type="bool" visible="true">
  </setting>
  <setting default="false" id="ALMA" label="ALMA" type="bool" visible="true">
  </setting>
  <setting default="false" id="MUNDOOSCURO" label="MUNDO OSCURO" type="bool" visible="true">
  </setting>
  <setting default="false" id="1X2" label="1X2" type="bool" visible="true">
  </setting>
  <setting default="false" id="LaOla" label="La Ola" type="bool" visible="true">
  </setting>
  <setting default="false" id="RedBull" label="RedBull" type="bool" visible="true">
  </setting>
  <setting default="false" id="SportsExtreme" label="Sports Extreme" type="bool" visible="true">
  </setting>
  <setting default="false" id="SportsWA" label="Sports WA" type="bool" visible="true">
  </setting>
  <setting default="false" id="TvChopoKids" label="TvChopoKids" type="bool" visible="true">
  </setting>
  <setting default="false" id="MundoInfantil" label="Mundo Infantil" type="bool" visible="true">
  </setting>
  <setting default="false" id="YouKids" label="YouKids" type="bool" visible="true">
  </setting>
  <setting default="false" id="SrRegio" label="Sr Regio" type="bool" visible="true">
  </setting>
  <setting default="false" id="Fusion" label="Fusion" type="bool" visible="true">
  </setting>
  <setting default="false" id="ColombiaTV" label="Colombia TV" type="bool" visible="true">
  </setting>
  <setting default="false" id="DiscoKelebek" label="Disco Kelebek" type="bool" visible="true">
  </setting>
  <setting default="false" id="Music" label="Music" type="bool" visible="true">
  </setting>
  <setting default="false" id="YouMusic" label="YouMusic" type="bool" visible="true">
  </setting>
  <setting default="false" id="YoutubeMusic" label="Youtube Music" type="bool" visible="true">
  </setting>
  <setting default="false" id="Dance" label="Dance" type="bool" visible="true">
  </setting>
  <setting default="false" id="Musicando" label="Musicando" type="bool" visible="true">
  </setting>
  <setting default="false" id="MyHR" label="MyHR" type="bool" visible="true">
  </setting>
  <setting default="false" id="HouseMixes" label="House Mixes" type="bool" visible="true">
  </setting>
  <setting default="false" id="NowMusic" label="Now Music" type="bool" visible="true">
  </setting>
  <setting default="false" id="Chillout" label="Chillout" type="bool" visible="true">
  </setting>
  <setting default="false" id="Palantir" label="Palantir" type="bool" visible="true">
  </setting>
  <setting default="false" id="Alfa" label="Alfa" type="bool" visible="true">
  </setting>
  <setting default="false" id="MediaExplorer" label="MediaExplorer" type="bool" visible="true">
  </setting>
  <setting default="false" id="MundoCine" label="MundoCine" type="bool" visible="true">
  </setting>
  <setting default="false" id="Agora" label="Agora" type="bool" visible="true">
  </setting>
  <setting default="false" id="Tesla" label="Tesla" type="bool" visible="true">
  </setting>
  <setting default="false" id="TempTV" label="Temp TV" type="bool" visible="true">
  </setting>
  <setting default="false" id="CCloudTV" label="CCloudTV" type="bool" visible="true">
  </setting>
  <setting default="false" id="Magellan" label="Magellan" type="bool" visible="true">
  </setting>
  <setting default="false" id="Iberika" label="Iberika" type="bool" visible="true">
  </setting>
  <setting default="false" id="tvchopo" label="TvChopo" type="bool" visible="true">
  </setting>
  <setting default="false" id="cristalazul" label="Cristal Azul" type="bool" visible="true">
  </setting>
  <setting default="false" id="mundrone" label="Mundrone" type="bool" visible="true">
  </setting>
  <setting default="false" id="Alma" label="Alma" type="bool" visible="true">
  </setting>
  <setting default="false" id="ccloudtv" label="CCloudTV" type="bool" visible="true">
  </setting>
  <setting default="false" id="festa" label="Festa" type="bool" visible="true">
  </setting>
  <setting default="false" id="F4MTester" label="F4M Tester" type="bool" visible="true">
  </setting>
  <setting default="false" id="F4MProxy" label="F4M Proxy" type="bool" visible="true">
  </setting>
  <setting default="false" id="uwc" label="Ultimate WhiteCream" type="bool" visible="true">
  </setting>
  <setting default="false" id="CatchUpTVK" label="CatchUp TV Krypton" type="bool" visible="true">
  </setting>
  <setting default="false" id="Motor99" label="Motor99" type="bool" visible="true">
  </setting>
  <setting default="false" id="Noise" label="Noise" type="bool" visible="true">
  </setting>
  <setting default="false" id="Vikir" label="Vikir" type="bool" visible="true">
  </setting>
  <setting default="false" id="cometelo" label="Cometelo" type="bool" visible="true">
  </setting>
  <setting default="false" id="justforlaughs" label="Just For Laughs" type="bool" visible="true">
  </setting>
  <setting default="false" id="canalcocina" label="Canal Cocina" type="bool" visible="true">
  </setting>
  <setting default="false" id="SinBarreras" label="Sin Barreras" type="bool" visible="true">
  </setting>
  <setting default="false" id="Inklusion" label="Inklusion" type="bool" visible="true">
  </setting>
  <setting default="false" id="Tide" label="Tide" type="bool" visible="true">
  </setting>
  <setting default="false" id="NBADemand" label="NBA on Demand" type="bool" visible="true">
  </setting>
  <setting default="false" id="backtothefutbol" label="backtothefutbol" type="bool" visible="true">
  </setting>
  <setting default="false" id="KinderLand" label="KinderLand" type="bool" visible="true">
  </setting>
  <setting default="false" id="HEIHEI" label="HEIHEI" type="bool" visible="true">
  </setting>
  <setting default="false" id="FestaKids" label="FestaKids" type="bool" visible="true">
  </setting>
  <setting default="false" id="MusicHall" label="Music Hall" type="bool" visible="true">
  </setting>
  <setting default="false" id="Radio" label="Radio" type="bool" visible="true">
  </setting>
  <setting default="false" id="OrbitalMusicRadio" label="OrbirtalMusicRadio" type="bool" visible="true">
  </setting>
  <setting default="false" id="MetallicaTV" label="Metallica TV" type="bool" visible="true">
  </setting>
  <setting default="false" id="InSession" label="In Session" type="bool" visible="true">
  </setting>
  <setting default="false" id="OnAir" label="On Air" type="bool" visible="true">
  </setting>
  <setting default="false" id="AnimeHall" label="Anime Hall" type="bool" visible="true">
  </setting>
  <setting default="false" id="DocuHall" label="Docu Hall" type="bool" visible="true">
  </setting>
  <setting default="false" id="ChopoCine" label="ChopoCine" type="bool" visible="true">
  </setting>
  <setting default="false" id="ChopoSeries" label="ChopoSeries" type="bool" visible="true">
  </setting>
  <setting default="false" id="PataNegra" label="PataNegra" type="bool" visible="true">
  </setting>
  <setting default="false" id="Eliminar_Indigo" label="Eliminar Indigo" type="bool" visible="true">
  </setting>
  <setting default="false" id="Eliminar_GDrive" label="Eliminar GDrive" type="bool" visible="true">
  </setting>
  <setting default="false" id="TeamMilhanos" label="Team Milhanos" type="bool" visible="true">
  </setting>
  <setting default="false" id="TVCartaKrypton" label="TV a la Carta Krypton" type="bool" visible="true">
  </setting>
  <setting default="false" id="TVCartaLeia" label="TV a la Carta Leia" type="bool" visible="true">
  </setting>
  <setting default="false" id="AdrianaEurope" label="Adriana Europe" type="bool" visible="true">
  </setting>
  <setting default="false" id="MTMAD" label="MTMAD" type="bool" visible="true">
  </setting>
  <setting default="false" id="Super3" label="Super3" type="bool" visible="true">
  </setting>
  <setting default="false" id="TeleMadrid" label="TeleMadrid" type="bool" visible="true">
  </setting>
  <setting default="false" id="chopodplay" label="chopodplay" type="bool" visible="true">
  </setting>
  <setting default="false" id="Dplay_Dmax_Dkiss" label="Dplay_Dmax_Dkiss" type="bool" visible="true">
  </setting>
  <setting default="false" id="Apunt" label="A Punt" type="bool" visible="true">
  </setting>
  <setting default="false" id="ATRESPLAYER" label="atresplayer" type="bool" visible="true">
  </setting>
  <setting default="false" id="CANALSUR" label="Canal Sur" type="bool" visible="true">
  </setting>
  <setting default="false" id="EITB" label="EITB" type="bool" visible="true">
  </setting>
  <setting default="false" id="Foodandtravel" label="Food and Travel" type="bool" visible="true">
  </setting>
  <setting default="false" id="Magufo" label="Magufo" type="bool" visible="true">
  </setting>
  <setting default="false" id="MiteleChopo" label="MiTele Chopo" type="bool" visible="true">
  </setting>
  <setting default="false" id="atresplayerchopo" label="atresplayer chopo" type="bool" visible="true">
  </setting>
  <setting default="false" id="Mitele" label="Mitele Hiraya" type="bool" visible="true">
  </setting>
  <setting default="false" id="RTVE" label="RTVE" type="bool" visible="true">
  </setting>
  <setting default="false" id="TV3" label="TV3alacarta" type="bool" visible="true">
  </setting>
  <setting default="false" id="AragonTV" label="Aragon tv" type="bool" visible="true">
  </setting>
  <setting default="false" id="TVG" label="TVG" type="bool" visible="true">
  </setting>
  <setting default="false" id="Elementum" label="Elementum Android " type="bool" visible="true">
  </setting>
  <setting default="false" id="ElementumW32" label="Elementum Windows 32bits" type="bool" visible="true">
  </setting>
  <setting default="false" id="ElementumW64" label="Elementum Windows 64bits" type="bool" visible="true">
  </setting>
  <setting default="false" id="BodyGym" label="Body Gym" type="bool" visible="true">
  </setting>
  <setting default="false" id="CazayPesca" label="Caza y Pesca" type="bool" visible="true">
  </setting>
  <setting default="false" id="IPTVMerge" label="IPTV Merge" type="bool" visible="true">
  </setting>
  <setting default="false" id="Choposex" label="Choposex" type="bool" visible="true">
  </setting>
  <setting default="false" id="Diabolik441" label="Diabolik441 Italiano" type="bool" visible="true">
  </setting>
  <setting default="false" id="Darklegion" label="Dark Legion Italiano" type="bool" visible="true">
  </setting>
 </category>
</settings>
