<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Arenavision">
        <setting id="arena_url" type="labelenum" values="https://arenavision.us|https://arenavision.biz|https://arenavision.in|https://arenavision.cc"
                 label="Agenda Arenavision:" default="http://arenavision.us"/>
        <setting id="get_categorias" type="bool" label="Clasificar por deportes" default="false"/>
        <setting id="arena_hide" type="bool" label="Ocultar eventos finalizados" default="false"/>
    </category>

    <category label="Sport365">
        <setting id="sport_url" type="labelenum" values="http://www.sport365.live|http://www.sport365.sx|http://www.sport247.live|http://www.s365.live"
                 label="Agenda Sport365:" default="http://www.sport365.sx"/>
    </category>

    <category label="Canales SD">
        <setting id="tap_sort" type="bool" label="Ordenar por paises" default="true"/>
        <setting label="TvTap settings..." type="action" id="ishelper_settings" option="close" action="Addon.OpenSettings(script.module.TvTap)"/>
    </category>
</settings>